@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&family=Roboto&display=swap");
body {
  padding-top: 50px;
  font-family: "Oswald", sans-serif;
}
.contentwhite {
  height: 590px;
  strong {
    font-size: 16px;
    font-weight: 400;

    color: #515151;
  }
  h1 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 50px;
  }
  h2 {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 700;
    padding-bottom: 25px;
    text-transform: uppercase;
  }

  p {
    color: #707070;
    font-size: 16px;
    font-weight: 300;

    padding-bottom: 60px;
  }
}

.contentblue {
  background: #131a1d;
  height: 470px;
  h1 {
    font-size: 30px;
    font-weight: 700;
    color: #ffe600;
    padding-top: 60px;
    padding-bottom: 25px;
  }
  h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-top: 60px;
    padding-bottom: 15px;
    text-transform: uppercase;
    position: relative;
  }
  h2::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 75px;
    background-size: cover;
  }
  h2.analyse::before {
    background: url(../images/sprite/sprite.svg#analyse-ico);
    width: 41px;
    height: 41px;
  }
  h2.preparing::before {
    background: url(../images/sprite/sprite.svg#preparing-ico);
    width: 43px;
    height: 43px;
  }
  h2.working::before {
    background: url(../images/sprite/sprite.svg#working-ico);
    width: 44px;
    height: 44px;
  }
  h2.finalyse::before {
    background: url(../images/sprite/sprite.svg#finalyse-ico);
    width: 43px;
    height: 43px;
  }
  h2.testing::before {
    background: url(../images/sprite/sprite.svg#testing-ico);
    width: 39px;
    height: 39px;
  }
  h2.deliver::before {
    background: url(../images/sprite/sprite.svg#deliver-ico);
    width: 36px;
    height: 36px;
  }
  // .icon {
  //   width: 44px;
  //   height: auto;
  // }
  p {
    font-size: 16px;
    font-weight: 300;
    color: white;
    padding-bottom: 10px;
  }
}
